*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content{
    display: grid;
    grid-template-columns: 300px ,700px;
    min-height: 1000px;
}
.left-section{
grid-column: span 1;
background-color: aqua;
}
.right-section{
    grid-column: span 1/span 2;
    background-color: rgb(255, 255, 0);
}
.left-content{
    padding: 1rem;
}
.profile-image{
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 30%;
    border:
    5px white solid;

}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: ;
}
@media screen and (max-width:674px) {
    .main-content{
        grid-column: repeat(1,1f);
    }
    
}
